body{
    background-image: url(kepek/Fahatter.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}


#pontok{
    position: absolute;
    top: 40vw;
    background-color: white;
    border: solid black 1vw;
    font-size:  5vw;
}

